body {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 2px;
}

span {
    color:orange;
}

.main-header {
    height: 10vh;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    font-size: 2em;
}

body {
    background-color: black;
}

aside, header {
    color: white;
}

p {
    font-size: 30px;
}

.main-header a {
  display: block;
  padding: 5px;
  background-color: orange;
  margin: 5px;
  color: black;
}

article {
    flex: 5;
    color: orange;
}

.catalogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.subtitulo {
    display: flex;
    justify-content: center;
    font-family: 'Margarine', cursive;
}

.tutorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#formulario, #links {
    margin: 5px;
}

@media only screen and (min-width: 10px) and (max-width: 767px) and (orientation: portrait){

    body {
        background-color: gray;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
}