body {
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 2px;
}

span {
    color:orange;
}

.main-header {
    height: 10vh;
    margin: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    font-size: 2em;
}

.main-header a {
  display: block;
  padding: 5px;
  background-color: teal;
  margin: 5px;
}

article {
    flex: 5;
    background-color: grey;
    color: black;
}

.catalogo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.subtitulo {
    display: flex;
    justify-content: center;
    font-family: 'Margarine', cursive;
}

.tutorias{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
